<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Reenvio de Clave</h3>

      <p class="text-center">Ingresa tu email para enviar tu Clave.</p>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>

      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Enviar Clave" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Volver ? <span class="redirect" routerLink="/sign-in">Ingreso</span></span>
    </div>

  </div>
</div>